@media only screen and (min-width: 641px) {

    body:after {
        content: 'tablet';
        display: none;
    }

    .details {
        background-color: blue;
    }

} /*end of the media query*/